# Scikit-Learn Exercise
## Boston House Prices

Due November 18th

Solutions will be posted on November 17th

In [1]:
#load required packages
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model, metrics, model_selection
import matplotlib.pyplot as plt

In [14]:
#load boston house prices dataset
boston = datasets.load_boston()
boston_df = pd.DataFrame(boston.data, columns=boston.feature_names)
#add the outcome variable, median home value
boston_df['MEDV'] = boston.target
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [31]:
#columns of the dataframe
boston_df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

### Data Dictionary

* CRIM per capita crime rate by town
* ZN proportion of residential land zoned for lots over 25,000 sq.ft.
* INDUS proportion of non-retail business acres per town
* CHAS Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
* NOX nitric oxides concentration (parts per 10 million)
* RM average number of rooms per dwelling
* AGE proportion of owner-occupied units built prior to 1940
* DIS weighted distances to five Boston employment centres
* RAD index of accessibility to radial highways
* TAX full-value property-tax rate per \$10,000
* PTRATIO pupil-teacher ratio by town
* B 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
* LSTAT % lower status of the population
* MEDV Median value of owner-occupied homes in $1000â€™s

#### 1. Create one NumPy for input variables (everything except for MEDV) and one for the outcome variable (MEDV)

In [5]:
#load required packages
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model, metrics, model_selection
import matplotlib.pyplot as plt

In [9]:
import numpy as np
boston = datasets.load_boston()
boston_df = pd.DataFrame(boston.data, columns=boston.feature_names)
#add the outcome variable, median home value
boston_df['MEDV'] = boston.target
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [26]:
#make numpy arrays 
X = np.array(boston_df[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT']])
Y = np.array(boston_df['MEDV'])

#### 2. Use train_test_split from the model selection module to divide the data into a test and training set with a test size of 0.2 (use random_state=1)

In [28]:
X_train,X_test, y_train, y_test = model_selection.train_test_split(X, Y, test_size=0.2, random_state=1)

#### 3. Use sklearn linear regression to model the median value of owner-occupied homes on the input variables

In [39]:
sk_linear = linear_model.LinearRegression().fit(X_train,y_train)

#### 4. What are the coefficients and intercept for the model?

In [40]:
sk_linear.coef_

array([-1.12386867e-01,  5.80587074e-02,  1.83593559e-02,  2.12997760e+00,
       -1.95811012e+01,  3.09546166e+00,  4.45265228e-03, -1.50047624e+00,
        3.05358969e-01, -1.11230879e-02, -9.89007562e-01,  7.32130017e-03,
       -5.44644997e-01])

In [41]:
sk_linear.intercept_

42.93352585337743

#### 5. What is the R-squared value for the model on training data? On test data?

In [42]:
sk_linear.score(X_train,y_train)

0.7293585058196337

In [43]:
sk_linear.score(X_test,y_test)

0.7634174432138463

#### 6. Get the model predictions for both the training and test data

In [52]:
Y_pred_train = sk_linear.predict(X_train)
Y_pred_train

array([25.07691032, 21.94177431,  8.36935863, 21.32567191, 15.91001746,
       32.48535453, 24.68497569, 25.22195448, 38.76527526, 29.06426326,
       14.68603541, 35.12938868, 36.02212556, 33.01884229, 21.1045147 ,
       16.59974392, 34.49853101, 39.68765074, 21.52705868, 15.53650416,
       27.46562923, 18.84958341, 27.28595457, 21.30024637, 25.82952228,
       22.24094321, 23.47429214, 28.32611729, 20.4927313 , 24.06521173,
       29.33810041, 10.48469113, 27.09525517, 32.76616554, 13.9858377 ,
       13.46323965, 33.6535524 , 13.45527545, 17.55979769, 16.27322623,
       17.36504291, 28.62361961, 33.90152785, 20.26067325, 24.64254741,
       17.28096122, 28.51721023, 20.38388569, 34.3154568 , 13.83017785,
       19.54869064, 18.94587417, 19.73597208, 31.92356762, 16.35001714,
       28.46695648, 22.89277528, 29.30126344, 34.06551988, 35.2927157 ,
       23.87393548, 18.35466948, 19.23218169, 20.93991203, 26.05181731,
       15.51261458, 15.35628976, 26.22642553, 22.22914856, 17.97445631,
       14.7414773 , 30.28372057, 18.94881487, 23.94303325, 33.84755568,
       24.73921801, 36.21575574, 21.17138398, 23.14233434, 27.35077234,
       17.39850532, 33.27989519, 13.36467187, 22.32376429, 20.19730116,
       34.04517287, 21.43765896, 21.76522286, 21.09378671, 16.13965552,
       22.57722534, 24.54953607, 22.30758744, 18.50413338, 33.08419489,
       21.35457683, 34.71159355, 25.92953106, 18.63076695,  3.33529279,
       24.95507072, 18.43591081, 14.9942165 , 28.15778721, 30.26802198,
       22.87602226, 19.21422974, 20.46336101, 26.84550899, 19.99726667,
       30.68497719, 19.25952057, 19.74632346, 24.16748106, 16.15358178,
       13.8045028 , 26.31222906, 24.29086628, 22.24291711, 21.06397718,
       19.15287581, 18.56353417, 20.46784586, 30.1274236 , 30.06627665,
       16.71044849, 18.77429506, 34.30437645, 16.81302128, 12.55431283,
       31.39892626, 24.67056225, 13.41435924, 24.98391035, 19.7188232 ,
       37.84114748, 44.08988639, 22.87919031, 20.56323706,  5.18842931,
       20.82828354, 40.04577821, 23.708971  , 35.66458572, 23.46921555,
       17.0690924 , 32.99563573, 14.87856956, 20.39373505, 11.89215001,
       33.88631759, 22.1337201 , 13.41968816, 22.05788598, 17.3583077 ,
       16.42994587, 30.80939256, 32.06655903, 20.64608968, 30.5005762 ,
        7.76368906, 19.89890664, 30.99739305, 19.89241435, 34.39633005,
       24.24758808, 14.25182468, 24.30883957, 31.91512943, 17.14726808,
       25.61482928, 21.60457896, 25.1067423 , 29.4757138 , 27.21798197,
       22.92529868, 21.64098921, 20.86108551, 11.74347527, 16.84155568,
       22.5121318 , 26.77407113, 22.74114291, 12.1883495 , 24.57598841,
       11.83328254,  8.83687148, 31.52813553, 12.6847015 , 13.47445786,
       31.17876643, 19.20890526, 27.69701025,  1.82328337, 31.36474526,
       23.66519236, 28.30565001,  9.86658692,  9.33493745,  6.71870867,
       21.57087045, 14.47644185, 23.95992941, 22.2668255 ,  7.56056127,
       19.27242719, 30.90805351, 16.90436229, 22.32083474, 32.74711038,
       29.19958235, 29.02933433, 19.08393338, 27.21592322, 17.67270372,
       21.38391945, 23.70944371, 30.81030296, 19.0503709 , 15.66581727,
       23.09079535, 22.68247371, 13.63531886, 32.34056302, 23.4801779 ,
       22.2689499 , 13.68697659, 16.46325501, 16.98358149, 32.61722026,
       28.05189653, 25.76563978, 15.2718267 , 17.59536765,  6.71819438,
       13.21706564, 27.73667058, 34.68210992, 25.31573999, 30.58659493,
       20.70703851, 13.73183532, 23.06428525,  9.29149135, 16.4629421 ,
       25.71385843, 19.1760262 , 32.11259037, 35.16666364, 22.53819553,
       22.42258855, 33.34452672, -3.05160194, 15.43134097, 20.35066982,
       32.22477191, 19.75405209, 25.95469828, 21.96432393, 25.10642271,
       18.3475295 , 27.36464384, 32.44685843, 13.2699557 ,  9.84654858,
       37.25274075, 20.14938587, 19.22541829, 21.98664006, 18.92491375,
       25.44829637, 24.83387593, 21.9225899 , 27.20046616, 33.97248466,
       29.15382471,  7.11016624, 19.12884299, 22.53089162, 21.60139216,
       12.73355494, 12.2067008 , 23.90392533, 24.04582196, 31.26854763,
       23.51962825, 33.87418998, 18.76889378, 14.78832308, 11.79016148,
       29.93235957, 27.61068139, 39.75608963, 28.63064305, 19.6062051 ,
       34.87680965, 21.78560798, 32.14425623, 24.67484019, 30.85842413,
       18.62852803, 17.23050043, 29.11853362, 30.98600152, 25.47253247,
       28.13992516, 27.63252541,  8.95752562, 25.9612971 , 28.59684995,
       12.05232861, 13.96387342, 30.78800204, 27.83745735, 15.89728141,
       36.31730205, 25.39712215, 14.31995048, 19.73209872, 18.90958731,
       18.13176153, 35.18867125, 14.56113374, 40.77786648, 28.83725469,
       18.21992786, 21.49541745, 17.49497641, 39.18148179, 17.30481931,
       36.53385462, 13.17158524, 13.74976263, 36.6057388 , 22.85393547,
       19.35908263, 19.77565367, 25.23792736, 19.72808482, 20.09054674,
       28.41107567, 15.57413633, 23.11026188, 24.39788909, 38.1045089 ,
       28.01181038, 20.27188901, 17.44948497,  8.20594095,  6.04225614,
       16.30018328, 11.53852628, 22.30472865, 18.95154414, 20.7982116 ,
       20.3084778 , 26.10433041, 35.41591994, 16.88164026, 17.62397884,
        4.42176013, 24.89334359, 25.52168691, 15.61077363, 18.4698101 ,
       21.19921098, 19.64198252, 20.48914296,  4.31364485, 22.16238363,
       17.79821099, 24.23593525, 23.25731475, 24.40439068, 17.94472181,
       21.56039533,  6.66341616, 12.92367942, 14.45938024, 24.55175561,
       20.08592825, 17.22207474, 18.06157666, 21.90774416, 25.05857673,
       34.81318946, 31.11835783, 34.10417895, 17.51376784, 32.0324548 ,
       21.84220065, 18.87785559, 14.22847562,  8.97743486, 17.42156409,
       20.40069822, 15.87366008, 42.11573204, 20.20567155, 22.84153603,
       24.6054121 , 19.07281012, 25.36774033, 23.21682909])

In [54]:
Y_pred_test = sk_linear.predict(X_test)
Y_pred_test

array([32.65503184, 28.0934953 , 18.02901829, 21.47671576, 18.8254387 ,
       19.87997758, 32.42014863, 18.06597765, 24.42277848, 27.00977832,
       27.04081017, 28.75196794, 21.15677699, 26.85200196, 23.38835945,
       20.66241266, 17.33082198, 38.24813601, 30.50550873,  8.74436733,
       20.80203902, 16.26328126, 25.21805656, 24.85175752, 31.384365  ,
       10.71311063, 13.80434635, 16.65930389, 36.52625779, 14.66750528,
       21.12114902, 13.95558618, 43.16210242, 17.97539649, 21.80116017,
       20.58294808, 17.59938821, 27.2212319 ,  9.46139365, 19.82963781,
       24.30751863, 21.18528812, 29.57235682, 16.3431752 , 19.31483171,
       14.56343172, 39.20885479, 18.10887551, 25.91223267, 20.33018802,
       25.16282007, 24.42921237, 25.07123258, 26.6603279 ,  4.56151258,
       24.0818735 , 10.88682673, 26.88926656, 16.85598381, 35.88704363,
       19.55733853, 27.51928921, 16.58436103, 18.77551029, 11.13872875,
       32.36392607, 36.72833773, 21.95924582, 24.57949647, 25.14868695,
       23.42841301,  6.90732017, 16.56298149, 20.41940517, 20.80403418,
       21.54219598, 33.85383463, 27.94645899, 25.17281456, 34.65883942,
       18.62487738, 23.97375565, 34.6419296 , 13.34754896, 20.71097982,
       30.0803549 , 17.13421671, 24.30528434, 19.25576671, 16.98006722,
       27.00622638, 41.85509074, 14.11131512, 23.25736073, 14.66302672,
       21.86977175, 23.02527624, 29.0899182 , 37.11937872, 20.53271022,
       17.36840034, 17.71399314])

#### 7. What is the mean squared error on training data? On test data?

In [56]:
metrics.mean_squared_error(y_train,Y_pred_train)

21.86279471487961

In [58]:
metrics.mean_squared_error(y_test,Y_pred_test)

23.380836480270315